html,body,main {
    width: 100;
    height: 100%;
    margin: 0;
    padding: 0;
}

#video {
    width: 100%;
    height: 100%;
    
    background-color: deepskyblue;
}

#mentor {
    width: 100%;
    
    background-color: #f0f3f8;
}

#mentor-list {
    max-width: 980px;
    margin: 0 auto;
    overflow: hidden;
}

.mentor-content {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin: 10px 10px 10px 10px;
    padding: 10px;
    background-color: #ffffff;
    float: left;
    text-align: center;
}

@media screen and (max-width: 980px) {
    #mentor {
        background-color: green; 
    }
    
    .mentor-content {
        width: 400px;
        height: 400px;
    }
}


.mentor-img {
    width: 80px;
    border-radius: 50%;
}

.mentor-name {
    font-size: 24px;
    font-weight:bolder;
    margin-bottom: 10px;
}

.mentor-full-name {
    margin: 0px auto;
    font-size: 10px;
    color: #999;
}

.mentor-course {
    font-size: 16px;
}

.mentor-text {
    font-size: 10px;
    color: #999;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.mentor-facebook {
    width: 280px;
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #67c5ff;
    border: solid 2px #67c5ff;
    border-radius: 10px;
    transition: .4s;
}

.mentor-facebook:hover {
    background: #67c5ff;
    color: white;
    text-decoration: none;
}

#footer {
    width: 100%;
    height: 100px;
    clear: both;
    
    background-color: greenyellow;
}