html,body,main {
    width: 100;
    height: 100%;
}

#video {
    width: 100%;
    height: 100%;
    
    background-color: deepskyblue;
}

#mentor {
    width: 100%;
    
    background-color: indianred;
}

#mentor-list {
    max-width: 980px;
    margin: 0 auto;
    overflow: hidden;
}

.mentor-content {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin: 10px 10px 10px 10px;
    
    background-color: darksalmon;
    float: left;
}

@media screen and (max-width: 980px) {
    #mentor {
        background-color: green; 
    }
    
    .mentor-content {
        width: 400px;
        height: 400px;
    }
}



#footer {
    width: 100%;
    height: 100px;
    clear: both;
    
    background-color: greenyellow;
}